<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="AliveChessServer.Properties.Settings.alive_chessConnectionString" connectionString="Data Source=ИГОРЬ-ПК\SQLEXPRESS;Initial Catalog=alive_chess;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>