<?xml version="1.0" encoding="utf-8"?>

<Database Name="alive_chess" xmlns="http://schemas.microsoft.com/linqtosql/mapping/2007">
  <!--Castle-->
  <Table Name="castle" Member="AliveChessLibrary.GameObjects.Buildings.Castle">
    <Type Name="AliveChessLibrary.GameObjects.Buildings.Castle">
      <Column Name="castle_id" DbType="int" Member="Id" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Column Name="castle_x" DbType="int" Member="X" />
      <Column Name="castle_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="width" DbType="int" Member="Width" />
      <Column Name="height" DbType="int" Member="Height" />
      <Column Name="king_id" DbType="int" Member="KingId" />
      <Column Name="figure_vault_id" DbType="int" Member="FigureVaultId" />
      <Column Name="resource_vault_id" DbType="int" Member="ResourceVaultId" />
      <Column Name="map_sector_image_id" DbType="int" Member="ImageId" />
      <Association Name="fk_castle_king" Member="King" ThisKey="KingId" IsForeignKey="true" />
      <Association Name="fk_castle_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
      <Association Name="fk_inner_building_castle" Member="InnerBuildings" OtherKey="CastleId" />
    </Type>
  </Table>
  <!--Mine-->
  <Table Name="mine" Member="AliveChessLibrary.GameObjects.Buildings.Mine">
    <Type Name="AliveChessLibrary.GameObjects.Buildings.Mine">
      <Column Name="mine_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Column Name="mine_x" DbType="int" Member="X" />
      <Column Name="mine_y" DbType="int" Member="Y" />
      <Column Name="width" DbType="int" Member="Width" />
      <Column Name="height" DbType="int" Member="Height" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="king_id" DbType="int" Member="KingId" />
      <Column Name="mine_type" DbType="int" Member="MineType" />
      <Column Name="map_sector_image_id" DbType="int" Member="ImageId" />
      <Association Name="fk_mine_king" Member="King" ThisKey="KingId" IsForeignKey="true" />
      <Association Name="fk_mine_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Inner building-->
  <Table Name="inner_building" Member="AliveChessLibrary.GameObjects.Buildings.InnerBuilding">
    <Type Name="AliveChessLibrary.GameObjects.Buildings.InnerBuilding">
      <Column Name="inner_building_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="inner_building_name" DbType="VarChar(20)" Member="Name" />
      <Column Name="inner_building_type" DbType="int" Member="InnerBuildingType" />
      <Column Name="castle_id" DbType="int" Member="CastleId" />
      <Association Name="fk_inner_building_castle" Member="Castle" ThisKey="CastleId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--King-->
  <Table Name="king" Member="AliveChessLibrary.GameObjects.Characters.King">
    <Type Name="AliveChessLibrary.GameObjects.Characters.King">
      <Column Name="king_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="king_x" DbType="int" Member="X" />
      <Column Name="king_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="user_id" DbType="int" Member="PlayerId" />
      <Column Name="animat_id" DbType="int" Member="AnimatId" />
      <Column Name="map_point_image_id" DbType="int" Member="ImageId" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Column Name="empire_id" DbType="int" Member="EmpireId" />
      <Column Name="union_id" DbType="int" Member="UnionId" />
      <Column Name="king_name" DbType="VarChar(20)" Member="Name" />
      <Column Name="king_experience" DbType="int" Member="Experience" />
      <Column Name="king_military_rank" DbType="int" Member="MilitaryRank" />
      <Association Name="fk_king_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
      <Association Name="fk_mine_king" Member="Mines" OtherKey="KingId" />
      <Association Name="fk_castle_king" Member="Castles" OtherKey="KingId" />
      <Association Name="fk_unit_king" Member="Units" OtherKey="KingId" />
      <Association Name="fk_resource_king" Member="Resources" OtherKey="KingId" />
    </Type>
  </Table>
  <!--Unit-->
  <Table Name="unit" Member="AliveChessLibrary.GameObjects.Characters.Unit">
    <Type Name="AliveChessLibrary.GameObjects.Characters.Unit">
      <Column Name="unit_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="unit_count" DbType="int" Member="UnitCount" />
      <Column Name="unit_type" DbType="int" Member="UnitType" />
      <Column Name="king_id" DbType="int" Member="KingId" />
      <Column Name="figure_vault_id" DbType="int" Member="VaultId" />
      <Association Name="fk_unit_king" Member="King" ThisKey="KingId" IsForeignKey="true" />
      <Association Name="fk_figure_vault" Member="Vault" ThisKey="VaultId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Vicegerent-->
  <Table Name="vicegerent" Member="AliveChessLibrary.GameObjects.Characters.Vicegerent">
    <Type Name="AliveChessLibrary.GameObjects.Characters.Vicegerent">
      <Column Name="vicegerent_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="castle_id" DbType="int" Member="CastleId" />
      <Column Name="vicegerent_name" DbType="VarChar(20)" Member="Name" />
    </Type>
  </Table>
  <!--Base Point-->
  <Table Name="base_point" Member="AliveChessLibrary.GameObjects.Landscapes.BasePoint">
    <Type Name="AliveChessLibrary.GameObjects.Landscapes.BasePoint">
      <Column Name="base_point_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="base_point_x" DbType="int" Member="X" />
      <Column Name="base_point_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="landscape_image_id" DbType="int" Member="ImageId" />
      <Column Name="base_point_landscape_type" DbType="int" Member="LandscapeType" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Association Name="fk_landscape_point_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Border-->
  <Table Name="border" Member="AliveChessLibrary.GameObjects.Landscapes.Border">
    <Type Name="AliveChessLibrary.GameObjects.Landscapes.Border">
      <Column Name="border_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="border_x" DbType="int" Member="X" />
      <Column Name="border_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="landscape_image_id" DbType="int" Member="ImageId" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Association Name="fk_border_point_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Map-->
  <Table Name="map" Member="AliveChessLibrary.GameObjects.Landscapes.Map">
    <Type Name="AliveChessLibrary.GameObjects.Landscapes.Map">
      <Column Name="map_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="map_sizeX" DbType="int" Member="SizeX" />
      <Column Name="map_sizeY" DbType="int" Member="SizeY" />
      <Association Name="fk_castle_map" Member="Castles" OtherKey="MapId" />
      <Association Name="fk_king_map" Member="Kings" OtherKey="MapId" />
      <Association Name="fk_mine_map" Member="Mines" OtherKey="MapId" />
      <Association Name="fk_resource_map" Member="Resources" OtherKey="MapId" />
      <Association Name="fk_single_object_map" Member="SingleObjects" OtherKey="MapId" />
      <Association Name="fk_multy_object_map" Member="MultyObjects" OtherKey="MapId" />
      <Association Name="fk_landscape_point_map" Member="BasePoints" OtherKey="MapId" />
      <Association Name="fk_border_point_map" Member="Borders" OtherKey="MapId" />
    </Type>
  </Table>
  <!--Single Object-->
  <Table Name="single_object" Member="AliveChessLibrary.GameObjects.Objects.SingleObject">
    <Type Name="AliveChessLibrary.GameObjects.Objects.SingleObject">
      <Column Name="single_object_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="single_object_x" DbType="int" Member="X" />
      <Column Name="single_object_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="map_point_image_id" DbType="int" Member="ImageId" />
      <Column Name="single_object_type" DbType="int" Member="SingleObjectType" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Association Name="fk_single_object_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Multy Object-->
  <Table Name="multy_object" Member="AliveChessLibrary.GameObjects.Objects.MultyObject">
    <Type Name="AliveChessLibrary.GameObjects.Objects.MultyObject">
      <Column Name="multy_object_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="multy_object_x" DbType="int" Member="X" />
      <Column Name="multy_object_y" DbType="int" Member="Y" />
      <Column Name="width" DbType="int" Member="Width" />
      <Column Name="height" DbType="int" Member="Height" />
      <Column Name="way_cost" DbType="int" Member="WayCost" />
      <Column Name="map_sector_image_id" DbType="int" Member="ImageId" />
      <Column Name="multy_object_type" DbType="int" Member="MultyObjectType" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Association Name="fk_single_object_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Figure Store-->
  <Table Name="figure_vault" Member="AliveChessLibrary.GameObjects.Resources.FigureStore">
    <Type Name="AliveChessLibrary.GameObjects.Resources.FigureStore">
      <Column Name="figure_vault_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="store_id" DbType="int" Member="StoreId" />
      <Association Name="fk_figure_vault" Member="Units" OtherKey="VaultId" />
    </Type>
  </Table>
  <!--Resource Store-->
  <Table Name="resource_vault" Member="AliveChessLibrary.GameObjects.Resources.ResourceStore">
    <Type Name="AliveChessLibrary.GameObjects.Resources.ResourceStore">
      <Column Name="resource_vault_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="store_id" DbType="int" Member="StoreId" />
      <Association Name="fk_resource_vault" Member="Resources" OtherKey="VaultId" />
    </Type>
  </Table>
  <!--Resource-->
  <Table Name="resource" Member="AliveChessLibrary.GameObjects.Resources.Resource">
    <Type Name="AliveChessLibrary.GameObjects.Resources.Resource">
      <Column Name="resource_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="resource_x" DbType="int" Member="X" />
      <Column Name="resource_y" DbType="int" Member="Y" />
      <Column Name="way_cost" DbType="float" Member="WayCost" />
      <Column Name="map_point_image_id" DbType="int" Member="ImageId" />
      <Column Name="king_id" DbType="int" Member="KingId" />
      <Column Name="resource_vault_id" DbType="int" Member="VaultId" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Column Name="resource_type" DbType="int" Member="ResourceType" />
      <Column Name="resource_count" DbType="int" Member="CountResource" />
      <Association Name="fk_resource_map" Member="Map" ThisKey="MapId" IsForeignKey="true" />
      <Association Name="fk_resource_vault" Member="Vault" ThisKey="VaultId" IsForeignKey="true" />
      <Association Name="fk_resource_king" Member="King" ThisKey="KingId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Level-->
  <Table Name="chess_level" Member="AliveChessServer.LogicLayer.Environment.Level">
    <Type Name="AliveChessServer.LogicLayer.Environment.Level">
      <Column Name="level_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="map_id" DbType="int" Member="MapId" />
      <Column Name="level_type" DbType="int" Member="LevelType" />
      <Association Name="fk_union_level" Member="Unions" OtherKey="LevelId" />
      <Association Name="fk_empire_level" Member="Emperies" OtherKey="LevelId" />
    </Type>
  </Table>
  <!--Union-->
  <Table Name="chess_union" Member="AliveChessServer.LogicLayer.Environment.Alliances.Union">
    <Type Name="AliveChessServer.LogicLayer.Environment.Alliances.Union">
      <Column Name="union_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="level_id" DbType="int" Member="LevelId" />
      <Association Name="fk_union_level" Member="Unions" ThisKey="LevelId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Empire-->
  <Table Name="chess_empire" Member="AliveChessServer.LogicLayer.Environment.Alliances.Empire">
    <Type Name="AliveChessServer.LogicLayer.Environment.Alliances.Empire">
      <Column Name="empire_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="level_id" DbType="int" Member="LevelId" />
      <Column Name="union_id" DbType="int" Member="UnionId" />
      <Column Name="king_id" DbType="int" Member="LeaderId" />
      <Column Name="store_id" DbType="int" Member="StoreId" />
      <Association Name="fk_empire_level" Member="Level" ThisKey="LevelId" IsForeignKey="true" />
    </Type>
  </Table>
  <!--Store-->
  <Table Name="store" Member="AliveChessServer.LogicLayer.Environment.Alliances.Store">
    <Type Name="AliveChessServer.LogicLayer.Environment.Alliances.Store">
      <Column Name="store_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
    </Type>
  </Table>
  <!--Successor-->
  <Table Name="successor" Member="AliveChessServer.LogicLayer.Environment.Alliances.Successor">
    <Type Name="AliveChessServer.LogicLayer.Environment.Alliances.Successor">
      <Column Name="successor_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="leader_id" DbType="int" Member="LeaderId" />
      <Column Name="king_id" DbType="int" Member="KingId" />
      <Column Name="queue_number" DbType="int" Member="QueueNumber" />
    </Type>
  </Table>
  <!--Player-->
  <Table Name="user" Member="AliveChessServer.LogicLayer.UsersManagement.User">
    <Type Name="AliveChessServer.LogicLayer.UsersManagement.User" InheritanceCode="0" 
          IsInheritanceDefault="true">
      <Column Name="user_id" Member="Id" DbType="int" IsDbGenerated="true" IsPrimaryKey="true" />
      <Column Name="level_id" DbType="int" Member="LevelId" />
      <Column Name="user_login" DbType="nvarchar(20)" Member="Login" />
      <Column Name="user_password" DbType="nvarchar(20)" Member="Password" />
      <Column Name="discriminator" DbType="int" Member="Discriminator" IsDiscriminator="true"/>
      <Type Name="AliveChessServer.LogicLayer.UsersManagement.Player" InheritanceCode="1">
        <!--//-->
      </Type>
      <Type Name="AliveChessServer.LogicLayer.UsersManagement.Admin" InheritanceCode="2">
        <!--//-->
      </Type>
    </Type>
  </Table>
  <Function Name="dbo.InsertKing" Method="InsertKing">
    <Parameter Name="@mapID" Parameter="@mapID" DbType="INT"/>
    <Parameter Name="@playerID" Parameter="@playerID" DbType="INT"/>
    <Parameter Name="@name" Parameter="@name" DbType="VARCHAR(20)"/>
    <Parameter Name="@X" Parameter="@X" DbType="INT"/>
    <Parameter Name="@Y" Parameter="@Y" DbType="INT"/>
    <Parameter Name="@wayCost" Parameter="@wayCost" DbType="FLOAT"/>
    <Parameter Name="@castleID" Parameter="@castleID" DbType="INT"/>
    <Return DbType="INT"/>
  </Function>
</Database>